<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add To Cart</title>
    <link rel="stylesheet" href="/CSS/cart.css">
    <script src="https://kit.fontawesome.com/9110d07ed9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="icon" class="title_logo" href="/images/logo1.png" type="x-icon/image">
</head>
<body>

    <nav class="navbar">
        <div class="img_container">
            <img src="/logo.png" alt="not_set">
        </div>
        <div class="searchbar">
            <input type="text" placeholder="Search.." id="t_search">
            <button type="submit"><i class="fa fa-search"></i></button>
            <!-- <input type="button" name="search_button" id="search1" placeholder="search"> -->
        </div>
        <ul class="items">
            <li class="item"><a href="/api/v1/products">Home</a></li>
            <li class="item"><a href="/login.html">Login/Signup</a></li>
            <li class="item"><a href="becomeA_Seller.html">Become a Seller</a></li>
            <li class="item"><a href="">More</a></li>
            <li class="item"><a href=""><i class="fa-solid fa-cart-arrow-down"></i>Cart</a></li>
        </ul>
    </nav>

    <header class="categories">
        <div class="cat_items">
            <a href="cat_txt.html">
                <h3>Text files :</h3>
                <p>.pdf, .docx, .xlsx, .ppt</p>
            </a>
        </div>
        <div class="cat_items">
            <a href="cat_img.html">
                <h3>Image files :</h3>
                <p>.png, .jpeg, .jpg, .heic</p>
            </a>
        </div>
        <div class="cat_items">
            <a href="cat_audio.html">
                <h3>Audio Files : </h3>
                <p>.mp3,.mp4,.3ga,.aac</p>
            </a>
        </div>
        <div class="cat_items">
            <a href="cat_vid.html">
                <h3>Video Files :</h3>
                <p>.mkv,.mp4,.wmv,.mpeg</p>
            </a>
        </div>
    </header>

    <section class="main">
        <div class="main_cart">
            <div class="cart-header">
                <div class="head1">Shopping Cart</div>
                <div class="head2">Price</div>
            </div>
            <% if(productsData != '' && cartsData != '') {%>

                <% productsData.forEach((row, index) => { %>
                    <% cartsData.forEach((row1, index1) => { %>
                        <% if(row._id.toString() == row1.cart_id.toString()) {%>

                            <hr class="header-separator">
                            <div class="itemcontainer">
                                <div class="img-container">
                                    <img src="/<%=row.imageCover%>" alt="about to display">
                                </div>
                                <div class="other-info">
                                    <p class="title"><%= row.description%>
                                    </p>
                                    <button id="delete">delete</button>
                                    
                                </div>
                                <div class="display_price">
                                    <p id="d_price"><span>&#x20B9</span><%= row.price%></p>
                                </div>
                            </div>
                            <hr class="header-separator">

                        <% } %>

                    <% }) %>
                <% }) %>
            <% } else { %>
                <h1>No product available</h1>>
            <% } %>

            
            
            
            
            <!-- <div class="itemcontainer">
                <div class="img-container">
                    <img src="images/2.jpg" alt="about to display">
                </div>
                <div class="other-info">
                    <p class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, impedit! Eveniet laboriosam saepe velit consectetur assumenda, reprehenderit illo? Dignissimos eos excepturi, labore ducimus facilis odit animi reprehenderit facere temporibus illo culpa esse?
                    </p>
                    <button id="delete">delete</button>
                    
                </div>
                <div class="display_price">
                    <p id="d_price"><span>&#x20B9</span >600</p>
                </div>

            </div> -->
        </div>
        <hr class="header-separator">
        <div class="total_amount">
                <p class="subtotal">Subtotal (<span id="num_of_items">2</span> : item) <span id="rupee_sign">&#x20B9</span><span id="t_price">1200</span></p>
        </div>
    </section>

    <section class="detail_list">
        <div class="sub_details">
            <div class="head">
                <h2>Price Details</h2>
            </div>
            <div class="sub_details_content">
                <div class="l1">
                    <label id="price_label">Price (<span id="num_of_items">2 </span>item)</label>
                    <label id="price"><span id="rupee_sign">&#x20B9</span><span id="og_price">1500</span></label>
                </div>
                <div class="l2">
                    <label id="price_label">Discount</label>
                    <label id="d_price">&minus;<span id="rupee_sign">&#x20B9</span><span id="d_price">300</span></label>
                </div>
                <hr class="header-separator">
                <div class="l3">
                    <label id="price_label">Total Amount</label>
                    <label id="d_price"><span id="rupee_sign">&#x20B9</span><span id="a_price">1200</span></label>
                </div>
                <div class="savings">
                    <p>You will save <span id="rupee_sign">&#x20B9</span><span id="d_price">300</span> on ths order</p>
                </div>
                <div class="payment">
                    <button id="to_payment" type="submit"><a href="/api/v1/order/buyProduct"> Buy </a></button>
                </div>
            </div>
        </div>
    </section>



    <footer class="footer_main">
        <div class="sub_footer">
            <div class="dif_block">

                <ul>
                    <li>|About|</li><br>
                    <li>Contact Us</li>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Corporate Information</li>
                </ul>
            </div>
            <div class="dif_block">

                <ul>
                    <li>|Help|</li><br>
                    <li>Payments</li>
                    <li>Review & Returns</li>
                    <li>FAQ</li>
                    <li>Report Infringnment</li>
                </ul>
            </div>
            <div class="dif_block">

                <ul>
                    <li>|Social|</li><br>
                    <li>Facebook </li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                    <!-- <li>LinkedIn</li> -->
                </ul>
            </div>
            <div class="dif_block">

                <ul>
                    <li>|Mail|</li><br>
                    <li>+91 8765xxxxxx</li>
                    <li>softsellers@abc.ac.in</li>
                    <li>Toll free No. : 1800-XXXX-XXXX </li>
                    <!-- <li>Corporate Information</li> -->
                </ul>
            </div>
        </div>

        <div class="last_footer">
            <p>Softsellers.com &copy; All rights reserved</p>
            <p>***************************************</p>
            <p>Terms and Conditions | Privacy Policy</p>
        </div>
    </footer>
</body>
</html>