<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/CSS/product.css">
    <script src="https://kit.fontawesome.com/a16876a86f.js" crossorigin="anonymous"></script>
    <link rel="icon" class="title_logo" href="/images/logo1.png" type="x-icon/image">
</head>
<body>
    <nav class="navbar">
        <div class="img_container">
            <img src="/images/logo1.png" alt="not_set">
        </div>
        <div class="searchbar">
            <input type="text" placeholder="Search.." id="t_search">
            <button type="submit"><i class="fa fa-search"></i></button>
            <!-- <input type="button" name="search_button" id="search1" placeholder="search"> -->
        </div>
        <ul class="items">
            <li class="item"><a href="/login.html">Login/Signup</a></li>
            <li class="item"><a href="becomeA_Seller.html">Become a Seller</a></li>
            <li class="item"><a href="">More</a></li>
            <li class="item"><a href="add_to_cart.html"><i class="fa-solid fa-cart-arrow-down"></i>Cart</a></li>
        </ul>
    </nav>
    <div class="back_btn">
        <a href="homepage.html">
            <span>&lt back</span>
        </a>
    </div>

    <section class="item_viewer">
        <div class="main-container">
            <div class="sub-container1">
                <div class="img_view">
                    <img src="images/2.jpg " alt="about to load">
                </div>
                <div class="btns">
                    <button id="buy">BUY</button>
                    <button id="add_to_cart">ADD TO CART</button>
                </div>
            </div>
            <div class="container2">
                <div class="share_btn">
                    <button class="sharebtn"><a href=""><i class="fa-solid fa-share"></i> share</a></button>
                </div>
                <div class="item_info">
                    <div class="title">
                        <h2>scenery</h2>
                        <p>Washington DC, United States</p>
                    </div>
                    <div class="price">
                        <p class="p_price"><span>1500</span></p>
                        <div class="og_price_offer">
                            <p class="d_price"><span class="r_price"><i class="fa-solid fa-indian-rupee-sign"></i></span> 700</p>
                            <p class="profit">20% off</p>
                        </div>
                    </div>
                    <div class="description">
                        <p class="description_header">Description</p>
                        <p class="main_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit natus necessitatibus enim minus ratione veniam nisi fuga et? Aut officia cumque sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste ratione fugit reprehenderit, nobis sit natus et id enim obcaecati hic asperiores necessitatibus quos aut qui vel quasi voluptas nisi corporis commodi tenetur nemo?</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="similar-container">
            <div class="header_block">
                <p>Similar</br>Products</p>
            </div>
            <div class="sim_product_container">
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div>
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div>
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div>
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div>
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div>
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div>
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div> 
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div>
                <div class="sim_items">
                    <img src="images/2.jpg" alt="">
                </div> 
            </div>
        </div>
    </section>



    <footer class="footer_main">
        <div class="sub_footer">
            <div class="dif_block">

                <ul>
                    <li>|About|</li><br>
                    <li>Contact Us</li>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Corporate Information</li>
                </ul>
            </div>
            <div class="dif_block">

                <ul>
                    <li>|Help|</li><br>
                    <li>Payments</li>
                    <li>Review & Returns</li>
                    <li>FAQ</li>
                    <li>Report Infringnment</li>
                </ul>
            </div>
            <div class="dif_block">

                <ul>
                    <li>|Social|</li><br>
                    <li>Facebook </li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                    <!-- <li>LinkedIn</li> -->
                </ul>
            </div>
            <div class="dif_block">

                <ul>
                    <li>|Mail|</li><br>
                    <li>+91 8765xxxxxx</li>
                    <li>softsellers@abc.ac.in</li>
                    <li>Toll free No. : 1800-XXXX-XXXX </li>
                    <!-- <li>Corporate Information</li> -->
                </ul>
            </div>
        </div>

        <div class="last_footer">
            <p>Softsellers.com &copy; All rights reserved</p>
            <p>***************************************</p>
            <p>Terms and Conditions | Privacy Policy</p>
        </div>
    </footer>
</body>
</html>